/*estilos para el carrusel*/
a{
  text-decoration: none;
}
.carousel-item img {
  max-height: 600px; 
  width: auto;
  margin: 0 auto; 
}
.carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 20px 20px 0 130px; 
  color: white; 
  transform: translateX(-7%); 
  z-index: 2;
  text-align: justify;
  text-transform:uppercase;
}
/*Estilo de barra de navegacion*/
#custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
  background-color: #f5f0e0; 
  padding: 10px 20px; 
  font-family:Georgia, 'Times New Roman', Times, serif;
  box-shadow:0 0 5px 0 #000;
}
.navbar-brand {
  font-family: 'Rubik', sans-serif;
}
.search-container {
  position: relative;
  width: 25%;
  display: flex;
  align-items: center;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: auto; 
  cursor: pointer;
  order: 1;
}
.carrito-icon {
  height: 2rem; 
  margin-left: 10px; 
  cursor: pointer; 
}
.form-control {
  width: 100%; 
  text-indent: 20px;
}
.dropdown-menu.show .dropdown-item:active {
  background-color: rgb(49, 99, 49); 
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: rgb(164, 218, 164); 
  border-radius: 10px;
}
.navbar-nav  {
  margin-left: 50px; 
}
.numerito {
  background-color: var(--clr-white);
  color: var(--clr-main);
  padding: .15rem .25rem;
  border-radius: .25rem;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(5, 109, 9, 0.25) !important; 
  border-color: #99e39c !important;
}
.nav-button{
  background-color: #17571a; 
  border: none; 
  color: white; 
  padding: 5px 15px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  cursor: pointer; 
  border-radius: 4px; 
  font-size: 14px;
  transition: background-color 0.3s ease; /
}
.nav-button:hover{
  background-color: #2E8B57; /* Verde oscuro al pasar el mouse */
}
.nav-buttonC{
  background-color: #900c0c; 
  border: none ; 
  color: white; 
  padding: 5px 15px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  cursor: pointer; 
  border-radius: 4px; 
  font-size: 14px;
  transition: background-color 0.3s ease; /
}
.nav-buttonC:hover{
  background-color: #7a4843; /* Verde oscuro al pasar el mouse */
}
  
/* estilos generales para la seccion Nosotros */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* estilos para la sección sobre nosotros */
.sobre-nosotros {
    padding: 50px 0;
}

.foto-grupal {
  text-align: center;
}

.foto-grupal img {
  /* tamaño de la foto grupal */
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  margin: 5% auto 20px;
}

.texto h2 {
  /* estilos para el título plantafriendly */
  color: #2a492b;
  font-size: 28px;
  margin-bottom: 20px;
}
.texto p {
  /* estilos para los párrafos */
  line-height: 2;
  font-family: 'Rubik', sans-serif;
}
/* Estilos para Seccion de Tutoriales*/
.content-tutoriales{
  background-color: #b3c5a9;
  padding: 30px;
}
.eventos {
  padding: 10px;
  padding-bottom: 2rem;
  background-color: #fdfdfd;
  border-radius: 20px;
  margin-right: 15px;
  margin-left: 15px;
  
  }
.title-tutorial{
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-size: 35px;
  margin-left: 50px;
  padding: 20px;

}  

.eventos img,
.eventos .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: 10px;
} 
.item-content h6 {
  font-size: 1.2em; 
  font-weight: bold; 
  margin-bottom: 10px; 
}
.item-subtitle a {
  text-decoration: none;
}
.item-content p {
  font-size: 0.9em;
  line-height: 1.5; 
  margin-bottom: 10px; 
}
.item-content {
  padding-top: 5px;
  padding-right: 10px; 
  padding-bottom: 15px; 
  padding-left: 15px; 
  font-family: 'Rubik', sans-serif;
}
.item {
  border-radius: 5px;
  box-shadow: 0 2px 5px black;
  text-align: center;
  transition: all 0.25s;
  margin-left: 75px;
}

.item:hover{
  transform: translateY(-15px);
  box-shadow: 0 10px 15px black;
}

/* Estilos de la seccion Equipo*/
.equipo {
  text-align: center;
  margin-top: 0;
  padding: 1px 0 10px;
}

.equipo h3 {
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
  padding: 30px;
}

.equipo-lista {
  list-style-type: none;
  padding: 0;
}

.equipo-lista li {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.equipo-lista li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.miembro-info {
  margin-top: 10px;
}

.miembro-info h4 {
  margin: 3px 0;
  font-size: 24px;
  font-family: 'Rubik', sans-serif;
  padding-bottom: 20px;
}

.miembro-info img {
  width: 30px;
  height: 30px;
}
/*Footer*/
footer {
  background-color: #174c21;
  color: #fff;
  padding-top: 10px;
  border-radius: 2px;
  
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;
}

.logo img {
  width: 40%;
  max-width: 200px; /* Ajusta el tamaño máximo del logo según tus necesidades */
}

.contact-info, .quick-links, .redes-lista  {
  flex: 1;
}

.contact-info h4, .quick-links h4, .redes-lista h4 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.contact-info ul, .quick-links ul, .redes-lista ul {
  list-style-type: none;
  padding: 0;text-align: center;
}

.contact-info ul li, .quick-links ul li {
  margin-bottom: 5px;
  
}
.contact-info a{
  text-decoration: none;
  color: white;
}
.contact-info a:hover{
  text-decoration:underline;
  
}

.quick-links ul li a{
  text-decoration: none;
  color: white;
}
.quick-links a:hover{
  text-decoration: underline;
}
.redes-lista  ul {
  display: flex;
  justify-content: space-between;
}

.social-links ul li {
  display: inline;
}

.redes-lista  ul li:last-child {
  margin-right: 0;
}

.redes-lista  ul li a {
  color: #fff;
  text-decoration: none;
}

/* Sección de derechos de autor */
.copyright {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  text-align: center;
  padding: 10px 0;
}
.copyright p {
  margin: 0;
  color: #fff;
}
/* Estilos de la seccion Redes Sociales*/

.redes-sociales {
  text-align: center;
  margin: 10px auto;
}

.redes-sociales h2 {
  font-size: 24px;
}

.redes-lista {
  list-style-type: none;
  padding: 0;
}

.redes-lista li {
  display: inline-block;
  margin: 0 10px;
}

.redes-lista li img {
  width: 40px;
  height: 40px;
}
.whatsapp-icon {
  position: fixed;
  bottom: 20px; /* Distancia desde el borde inferior */
  right: 20px; /* Distancia desde el borde derecho */
  z-index: 999; /* Asegura que el icono esté por encima de otros elementos */
}

.whatsapp-icon img {
  width: 60px; /* Ajusta el tamaño del icono según sea necesario */
  height: auto;
}
